/*======================================
=            Styles Project          =
======================================*/
/*==================================================
=            Variables and import files            =
==================================================*/
@import "http://webfonts.ru/import/ditasweet.css";
/*
  Dita Sweet, 400
*/
@import "http://webfonts.ru/import/pancettapro.css";
/*
  Pancetta Pro, 400, 400 italic
*/
@import "http://webfonts.ru/import/clinicapro.css";
/*
  Clinica Pro, 400, 400 italic
*/
/*=====  End of Variables and import files  ======*/
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
*::selection {
  background: #9ad0c2;
  color: #252525;
}
*::-moz-selection {
  background: #9ad0c2;
  color: #252525;
}
body {
  width: 100%;
  height: 100%;
  background: url("../images/fon2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #222;
  background-color: rgba(238,238,238,0.5);
  min-width: 750px;
  margin: 25px auto;
  overflow: hidden;
  width: 65%;
}
.logo {
  text-decoration: none;
  color: #333;
}
.logo:hover {
  transition: 0.3s;
  text-shadow: 0px 0px 2px #252525;
}
h1,
h2 {
  font-family: "Pancetta Pro";
  font-size: 3.2em;
  width: 100%;
  text-transform: uppercase;
}
h2 {
  color: #333;
  font-size: 1em;
}
.length {
  font-size: 1.1em;
}
.search {
  margin: -30px 5%;
  float: right;
}
.field-search {
  background-color: rgba(37,37,37,0.5);
  color: #eee;
  box-shadow: 0 0 2px #222;
  border: none;
  font-size: 1.4em;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.field-search:hover {
  transition: 0.2s;
  background-color: rgba(37,37,37,0.7);
}
.field-search:focus {
  background-color: #252525;
  transition: 0.2s;
border-none
  box-shadow: 0 0 6px #333;
}
hr {
  margin: 25px;
  border: 1px dotted #222;
}
.books {
  padding: 5px;
}
.info {
  margin-bottom: 50px;
}
ul {
  display: inline;
  list-style-type: none;
}
.donate {
  font-family: "Pancetta Pro";
  background-color: rgba(37,37,37,0.7);
  margin: 15px 5px;
  padding: 7px;
  float: right;
  text-decoration: none;
  font-size: 1.9em;
  box-shadow: 0px 0px 4px #444;
  color: #eee;
  text-shadow: 1px 1px 2px #111;
}
.money:hover {
  transition: 0.3s ease-out;
  background-color: rgba(37,37,37,0.8);
  color: #eee;
  text-shadow: 0px 0px 4px #ff0;
}
.book {
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #333;
  background-color: rgba(255,255,255,0.6);
}
.book:hover {
  transition: 0.2s ease-out;
  background-color: #252525;
  box-shadow: 0px 0px 4px #222;
}
.book:hover h3 {
  color: #eee;
}
.book:hover .ico-dowland {
  transition: 0.4s ease-out;
  color: #f00;
  opacity: 1;
}
.book:hover h4 {
  color: #eee;
  text-shadow: 0px 0px 2px #ff0;
  text-decoration: none;
}
#scrollTop {
  opacity: 0.8;
  color: #eee;
  position: fixed;
  right: 40px;
  bottom: 40px;
  display: none;
  cursor: pointer;
}
h3 {
  font-size: 1.6em;
  font-family: "Clinica Pro";
  color: #222;
}
h4 {
  font-family: "Dita Sweet";
  color: #434343;
  font-style: italic;
  text-decoration: underline;
  font-size: 1.3em;
}
.ico-dowland {
  opacity: 0.7;
  color: #252525;
  float: right;
  margin-top: -51px;
  width: 65px;
}
/*============================
=            Menu            =
============================*/
.content-menu {
  padding: 5%;
  background-color: rgba(154,208,194,0.9);
  margin: 0px auto;
  position: absolute;
  top: 0%;
  width: 100%;
  min-height: 100%;
  text-align: center;
}
.content-menu .text-donate {
  margin-top: 100px;
}
.content-menu .reply-ico {
  position: relative;
  color: #252525;
  float: left;
}
.content-menu .reply-ico:hover {
  transition: 0.3s;
  color: #febb8e;
  text-shadow: 0px 0px 6px #222;
}
.contacts {
  padding: 20px;
  width: 40%;
  opacity: 0.8;
  background: #464646;
  white-space: nowrap;
  border-radius: 5px;
}
.contacts:hover {
  transition: 0.3s;
  opacity: 1;
  box-shadow: 0px 0px 4px #252525;
}
.contacts:hover a:hover,
.contacts:hover span:hover {
  transition: 0.3s;
  color: #e2e2e2;
  text-shadow: 0 0 2px #ff0;
}
.contacts a,
.contacts span {
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 0.7em;
  margin: 15px 10px;
  color: #eee;
}
.purses {
  margin: 0px auto;
}
.purses li {
  margin-left: 15px;
  float: left;
  opacity: 0.7;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #252525;
  margin-top: 20px;
}
.purses li:hover {
  transition: 0.2s;
  opacity: 1;
}
.purse-add {
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  background: #fff;
}
/*=====  End of Menu  ======*/
/*==============================
=            Media             =
==============================*/
@media screen and (max-width: 750px) {
  * {
    transition: 0s;
  }
  body {
    padding: 0px;
  }
  .container {
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    min-width: 600px;
  }
  .field-search {
    font-size: 1.2em;
    padding: 5px;
    margin: 22px -10px;
  }
  h1 {
    font-size: 2.4em;
  }
  .donate {
    font-size: 1.1em;
  }
  .books {
    padding: 0px;
  }
  #scrollTop {
    visibility: hidden;
  }
  .book {
    padding: 10px;
    margin: 2px;
    border-radius: 0px;
  }
  .book:hover {
    box-shadow: none;
  }
  .contacts {
    min-width: 400px;
    opacity: 1;
  }
  .purses li {
    opacity: 1;
  }
}
/*  .ico-dowland
    margin-top -50px*/
/*=====  End of Media   ======*/
/*======================================
=            Delete section            =
======================================*/
